<header class="contact-header">
    <!-- Always describe what you see in your sketch/rendering for the design with markup -->
    <div class="logo">{% include icons/axis-logo.svg %}</div>
    
    <nav>
		<!-- This will link to the contact page -->

        <a href="https://executive-eagle.github.io/axis-v1/">Home</a>

	<!-- Social Network link(s) -->
	<!--<div class="social-links">
	{% for link in site.data.settings.social %}-->
		<a href="{{ link.link }}" class="icon-{{ link.icon }}"></a>
	<!--{% endfor %}
	</div>-->
		
	</nav>
    
	<!-- Our subtitle -->
    <p class="kicker">Photography</p>
    
	
</header>