
	
<section class="alt-section section-work">

	<div class="thumb-container">
		
		<div id="lightgallery">
			
			<!-- All of the photos and thumbnails -->
		
			<a href="assets/img/axis-images/img1/img1.jpg"><img src="assets/img/axis-images/img1/thumb-img1.jpg"></a>
			
			<a href="assets/img/axis-images/img2/img2.jpg"><img src="assets/img/axis-images/img2/thumb-img2.jpg"></a>
				
			<a href="assets/img/axis-images/img3/img3.jpg" title="img3"><img src="assets/img/axis-images/img3/thumb-img3.jpg" alt="img3"></a>

			<a href="assets/img/axis-images/img4/img4.jpg" title="img4"><img src="assets/img/axis-images/img4/thumb-img4.jpg" alt="img4"></a>

			<a href="assets/img/axis-images/img5/img5a.jpg" title="img5"><img src="assets/img/axis-images/img5/thumb-img5a.jpg" alt="img5"></a>

			<a href="assets/img/axis-images/img6/img6.jpg" title="img6"><img src="assets/img/axis-images/img6/thumb-img6.jpg" alt="img6"></a>

			<a href="assets/img/axis-images/img7/img7.jpg" title="img7"><img src="assets/img/axis-images/img7/thumb-img7.jpg" alt="img7"></a>

			<a href="assets/img/axis-images/img8/img8.jpg" title="img8"><img src="assets/img/axis-images/img8/thumb-img8.jpg" alt="img8"></a>

			<a href="assets/img/axis-images/img9/img9.jpg" title="img9"><img src="assets/img/axis-images/img9/thumb-img9.jpg" alt="img9"></a>

			<a href="assets/img/axis-images/img10/img10.jpg" title="img10"><img src="assets/img/axis-images/img10/thumb-img10.jpg" alt="img10"></a>

			<a href="assets/img/axis-images/img11/img11.jpg" title="img11"><img src="assets/img/axis-images/img11/thumb-img11.jpg" alt="img11"></a>

			<a href="assets/img/axis-images/img12/img12.jpg" title="img12"><img src="assets/img/axis-images/img12/thumb-img12.jpg" alt="img12"></a>

			<a href="assets/img/axis-images/img13/img13.jpg" title="img13"><img src="assets/img/axis-images/img13/thumb-img13.jpg" alt="img13"></a>

			<a href="assets/img/axis-images/img14/img14.jpg" title="img14"><img src="assets/img/axis-images/img14/thumb-img14.jpg" alt="img14"></a>

			<a href="assets/img/axis-images/img15/img15.jpg" title="img15"><img src="assets/img/axis-images/img15/thumb-img15.jpg" alt="img15"></a>

			<a href="assets/img/axis-images/img16/img16.jpg" title="img16"><img src="assets/img/axis-images/img16/thumb-img16.jpg" alt="img16"></a>

			<a href="assets/img/axis-images/img17/img17.jpg" title="img17"><img src="assets/img/axis-images/img17/thumb-img17.jpg" alt="img17"></a>
			
		</div>

	</div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery(); 
    });
</script>